.contact-container {
  display: flex;
  background-color: var(--main-brand);
  padding: var(--padding);
  justify-content: space-evenly;
  color: var(--light-shades);
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.contact-name {
  font-family: "Petit Formal Script", cursive;
}

.anchor-mail a {
  color: #fff !important;
  font-weight: 400;
}

.anchor-mail a:hover {
  color: #dddcdc !important;
}