body {
    place-items: flex-start !important;
    display: flex;
    overflow-x: hidden; 
}

#root {
  flex-grow: 1;
  max-width: 1920px;
  /* max-width: 1536px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

*,
*::after,
*::before {
  /* removes extra size when adding "padding" */
  box-sizing: border-box;
}


:root {
  --page-padding: 1.2rem 10rem;
  /* --page-padding: 1.2rem 6.5rem 1.2rem 10rem; */
  --gap: 1rem;
  --padding: 1.2rem;
  --border-radius: 5px;

  
  /* COLORS */
  --light-shades: #FEFDFD;
  --main-brand: #E4198C;
  --dark-accent: #1D191C;
  --dark-shades: #332f32;
  --blue-accent: #0060FD;  
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 0.45rem 1.2rem;
  cursor: pointer;
  background-color: var(--dark-shades);
  border-radius: var(--border-radius);
  color: var(--main-brand);
  border: none;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.align-right {
  margin-left: auto;
}

.btn:hover {
  background-color: var(--main-brand);
  color: var(--light-shades);
}

.background-animation {
  /* background: linear-gradient(-45deg, var(--light-shades), var(--dark-shades), var(--dark-accent)); */
  background: linear-gradient(-45deg, var(--light-shades), var(--dark-shades), var(--main-brand));
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* 2xl */
@media (max-width: 1920px) {
  #root {
    min-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  #root {
    min-width: 1024px;
  }

  .navbar-container {
    padding: 1.5rem 4rem !important;
  }

  .navbar-name {
    font-size: 23px !important;
  }

  .navbar-links-container {
    font-size: 16px !important;
  }

}

/* lg */
@media (max-width: 1024px) {
  #root {
    min-width: 768px;
  }

  .navbar-container {
    padding: 1.5rem 3rem !important;
  }

  .navbar-name {
    font-size: 22px !important;
  }

  .navbar-links-container {
    font-size: 14px !important;
  }

  .aboutme-container {
    padding: 0 2.5rem !important;
    flex-direction: column;
    margin-top: 5% !important;
    margin-bottom: 0 !important;
  }

  .aboutme-container img {
    max-height: 290px !important;
  }

  .aboutme-content {
    margin-top: -15px !important;
  }

  .aboutme-content h1 {
    font-size: 2.8em !important;
    text-align: center;
  }

  .technologies-container h1 {
    font-size: 2.8em !important;
  }

  .tech-grid-container {
    width: 90% !important;
  }

  .portfolio-container h1 {
    font-size: 2.8em !important;
  }
}

@media screen and (max-width: 768px) {
   #root {
      --page-padding: 1rem 2rem;
      min-width: 640px;
   } 
      
    .navbar-container {
        flex-direction: column;
        gap: var(--gap);
    }

    .navbar-links-container {
      flex-direction: column;
    }

    .aboutme-container {
    flex-direction: column;
    margin-top: 7% !important;
  }

  .aboutme-container img {
    max-height: 280px !important;
  }

  .aboutme-content h1 {
    text-align: center;
  }

  .technologies-container h1 {
      margin-right: 3%;
  }

  .contact-container {
    flex-direction: column;
    text-align: center;
  }
}

/* sm */
@media (max-width: 640px) {
  #root {
    min-width: 513px;
  }

  .aboutme-container img {
    margin-right: 15px;
  }

  .aboutme-content {
    margin-top: -10px !important;
  }

  .aboutme-content h1 {
    text-align: center;
    margin-right: 11px;
  }

  .tech-grid-container {
    width: 60% !important;
    margin-right: 11px;
  }

  .portfolio-container {
    margin-right: 20px;
  }

  .contact-container {
    text-align: center;
  }
}

@media (max-width: 513px) {
  #root {
     min-width: 475px;
  }

  .technologies-container {
    text-align: center;
  }
}

/* xs */
@media (max-width: 475px) {
  #root {
    min-width: 460px;
  }

  .aboutme-container {
    margin-left: 10px;
  }

  .aboutme-content h1 {
    font-size: 2.5em !important;
    margin-right: 8px;
  }

  .technologies-container h1 {
    text-align: center;
    margin-left: 5px;    
    font-size: 2.5em !important;
  }

  .tech-grid-container {
    width: 40% !important;
    margin-right: 32.5%;
  }

  .portfolio-container h1 {
    font-size: 2.5em !important;
  }
}

@media (max-width: 460px) {
    #root {
    min-width: 425px;
  }
  
  .aboutme-container img {
    max-width: 65%;
  }

  .portfolio-container p {
    text-align: center;
  }

  .portfolio-grid {
    margin-left: 9%;
  }
  
  .contact-container {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .aboutme-content h1 {
    margin-right: 25px;
    font-size: 2.3em !important;
  }
  
  .technologies-container h1 {
    font-size: 2.3em !important;
  }
  
  .tech-grid-container {
    width: 90% !important;
    margin-right: 0;
  }

  .portfolio-container h1 {
    font-size: 2.3em !important;
  }
}

@media (max-width: 400px) {
  #root {
    min-width: 376px;
  }
  
  .tech-grid-container {
    width: 51% !important;
    margin-left: -36%;  
  }

  .portfolio-grid {
    margin-left: 10%;
  }

}

@media (max-width: 375px) {
    .navbar-container {
  padding: 1.5rem 1.8rem !important;
  }

  .technologies-container h1 {
    margin-left: -5px;
  }

  .tech-grid-container {
    margin-left: -44%;
  }

  .portfolio-grid {
    margin-left: 7.5%;
  }
}

@media (max-width: 320px) {
  .navbar-container {
  padding: 1.5rem 1.5rem !important;
  }
}




